.features {
  grid-column: center-start/center-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  margin: 15rem 0;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 2rem;
  &__icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: $color-primary;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
