%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  color: $color-white;
  font-size: 4.5rem;
  line-height: 1.1;
}

.heading-2 {
  @extend %heading;
}

.heading-3 {
  @extend %heading;
  text-transform: uppercase;
  color: $color-primary;
  font-size: 1.6rem;
}
.heading-4 {
  @extend %heading;
  color: $color-grey-dark-1;
  font-size: 1.8rem;
}

.btn {
  @extend %heading;
  font-size: 1.5rem;
  background-color: $color-primary;
  color: $color-white;
  text-transform: uppercase;
  padding: 2rem 3rem;
  border: none;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: $color-primary-dark;
  }
}
